.header {
    background: rgb(34, 43, 49, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.header-right {
  display: flex;
}

.logo {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.wishlist-btn {
  cursor: pointer;
  margin-right: 10px;
}

.logout {
  cursor: pointer;
}
