@import '../../../assets/variables.scss';

.wishlist-container {
  padding: 50px 100px;
}

.wishlist-card {
  display: flex;
  margin: 20px;
  max-height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.8);
  color: white;
  position: relative;

  .remove-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  .img {
    width: 150px;
    min-width: 150px;
    height: 200px;
  }

  .book-details {
    margin-left: 30px;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .description {
      height: 140px;
      overflow: auto;
    }
  }

}

@media screen and (max-width: $media-mobile) {
  .wishlist-container {
    padding: 50px 0;
  }

  .wishlist-card {
    flex-direction: column;
    align-items: center;
    max-height: fit-content;

    .remove-btn {
      top: 10px;
    }

    .img, .title {
      margin-bottom: 20px;
    }
  }
}
