@import '../../../assets/variables.scss';

.modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #555555c0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 60%;
  border-radius: 10px;
  background: white;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(34, 43, 49, 0.8);
  color: white;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
}

.img {
  margin-bottom: 20px;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid black;
}

.description {
  margin-bottom: 20px;
  max-height: 200px;
  overflow: auto;
}

.add-to-wishlist {
  width: 200px;
  padding: 15px;
  background: rgba(39, 218, 63, 0.671);
  &:hover {
    background: rgba(20, 167, 40, 0.849);
  }
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}


@media screen and (max-width: $media-mobile) {
  .modal-container {
    width: 80%;
  }
}
